.sidebar {
    align-items: center;
    background-color: $white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-30px);

    a {
        padding: 0 !important;
        color: $blue;
        text-align: center;
    
        &:hover {
            i {
                background-color: $blue;
                color: $white;
            }
        }

        i {
            transition: 0.2s;
            padding: 7.5px !important;
            border-radius: 50%;
        }
    }
}
