// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'sidebar';

@import 'monuments';

a {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

a .animated-icon {
    transition: 0.2s;
}

a:hover .animated-icon {
    transform: rotate(0deg) scale(1);
}

.rotate {
    transform: rotate(90deg) scale(0.75);
}